@import url(header.css);
@import url(boton.css);
@import url(Main.css);
@import url(mapas.css);
@import url(modal.css);
@import url(tabla.css);
.texto {
   fill: #3d3d3d;
}

.salaUno:hover  {
   fill: #efeaec;
   cursor: pointer;
}

.salaDos:hover {
   fill: #efeaec;
   cursor: pointer;
}

.salaTres:hover {
   fill: #efeaec;
   cursor: pointer;
}
